body {
	background: linear-gradient(to right, #5e69ff, #ff66fc);
	font-family: 'Roboto', sans-serif;
}

h1, input::-webkit-input-placeholder, button {
  	transition: all 0.3s ease-in-out;
}

h1 {
  height: 100px;
  width: 100%;
  font-size: 18px;
  background: #021ff9;
  color: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
}

form {
	background-color: white;
  	box-sizing: border-box;
  	width: 400px;
  	height: 500px;
  	margin: 40px auto 0;
  	box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  	padding-bottom: 20px;
  	border-radius: 10px;
}

form h1 {
  box-sizing: border-box;
  padding: 35px 166px;
  margin-bottom: 50px;
  margin-left: -9px;
  width: 420px;
  letter-spacing: 5px;
  line-height: 2;
  text-transform: uppercase;
}

input {
  margin: 40px 70px;
  width: 240px;
  display: block;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px #b620fc;
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 94%, #e900ff 6%);
  background-position: -240px 0;
  background-size: 240px 100%;
  background-repeat: no-repeat;
  color: #af05ff;
}

input:focus, input:valid {
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}

input:focus::-webkit-input-placeholder, input:valid::-webkit-input-placeholder {
  color: #e900ff;
  font-size: 10px;
  transform: translateY(-15.5px);
  visibility: visible !important;
}

button {
  border: none;
  background: #fc00ce;
  cursor: pointer;
  border-radius: 3px;
  padding: 16px 40px;
  color: white;
  margin-left: 130px;
  margin-top: 10px !important;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}

button span {
	letter-spacing: 0.8px;
}

button:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
}

form a {
	text-decoration: none !important;
	color: #021ff9;
}

form h4 {
	color: #6d6d6d;
	font-size: 16px;
	font-weight: 100;
	letter-spacing: 0.7px;
	padding: 57px 74px;
}

/*FOOTER*/
.footer {
    text-align: center;
    padding: 30px;
    color: #cccccc;
    background-color: #222222;
    margin-top: 200px;
    margin-bottom: -20px;
}

.footer h4 , .footer a {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-decoration: none;
    color: #cccccc;
}

